.navbar {
    background:#9f9fcc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .profile-btn {
        border: none;
        padding: 10px;
    }
}


